.userProfile__container {
    min-height: calc(100vh - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.userProfile__columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 1.5rem;
    background-color: #fff;

}

.userProfile__column--photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.userProfile__column--info {
    display: flex;
    flex-direction: column;
    justify-content:space-around;

}

.userProfile_button {
    display: flex;
    justify-content: center;
    align-items: end;
}